.login {
  margin-top: 15%;
}
.S9gUrf-YoZ4jf {
  width: fit-content;
  margin: auto !important;
}

.text-center {
  text-align: center;
}

.err-msg{
  font-size: 15px;
  color: red;
  text-align: center;
  margin-top: 15px;
}